<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Security-Policy" content="default-src *;img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
    <title>Mintdrop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=M+PLUS+1p:wght@400&family=Tajawal:wght@300;400&display=swap" rel="stylesheet">   
    <style>
      body {
        font-family: 'Barlow', sans-serif;
        font-size:1.4em;
      }
      .navtext {
        font-weight: 500;
        font-size:1.3rem;
      }
      .droptext {
        font-weight: 500;
        font-size:1.1rem;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgba(8, 150, 115, 0.75)">
      <div class="container-fluid">
        <a class="navbar-brand ms-3 fs-3 navtext" style="font-family:'M PLUS 1p', sans-serif;" href="/">
          <img id="logo" src="/source/images/mintdropLogo(PROTO).png" alt="" width="8rem" class="d-inline-block align-text-top mx-2" style="min-width: 4rem;">
          <h1 class="d-inline-block align-text-top" style="margin-top: auto; margin-bottom: auto; line-height: 4rem; font-size: 1.5em;"> Mintdrop </h1>
        </a>
        <button class="navbar-toggler me-5 btn-block" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="width: 5rem;">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container-fluid collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mr-auto mx-4">
            <li class="nav-item mx-4">
              <a class="nav-link navtext" href="/collections">Collections</a>
            </li>
            <li class="nav-item dropdown mx-4">
              <a class="nav-link dropdown-toggle navtext" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                About
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item droptext" href="/about/collectors">Collectors</a></li>
                <li><a class="dropdown-item droptext" href="/about/creators">Creators</a></li>
              </ul>
            </li>
            {{#if loggedIn}}
            <li class="nav-item dropdown mx-4">
              <a class="nav-link dropdown-toggle navtext" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Account
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item droptext" href="/trades">Trades</a></li>
                <li><a class="dropdown-item droptext" href="/inventory">Inventory</a></li>
                <li><a class="dropdown-item droptext" href="/logout">Logout</a></li>
              </ul>
            </li>
            {{else}}
            <li class="nav-item dropdown mx-4">
              <a class="nav-link dropdown-toggle navtext" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Account
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item droptext" href="/create/user">Sign Up</a></li>
                <li><a class="dropdown-item droptext" href="/login">Login</a></li>
              </ul>
            </li>
            {{/if}}
          </ul>
          <form action="/search" method="post" class="form-inline my-2 my-lg-0 d-flex flex-nowrap" style="margin-left: auto;">
            <input class="form-control mr-sm-2 ms-5" name="search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="mt-4 container-fluid ms-1 me-1" style="margin-left:3rem; margin-right:3rem;">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Send Trades</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Inbox</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">History</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <form action="/trades/send" method="post" style="margin-left: 10vw; margin-right: 10vw;">
            <h2 class="text-center mt-5">Send Trade</h2>
            <div class="mt-3">
              <label for="sendItemID" class="form-label">Your Item's ID#</label>
              <input type="text" name="sendItemID" placeholder="HZ4x2fQ96uSKcSoB" class="form-control" aria-describedby="passwordHelpBlock">  
            </div>
            <div class="mt-3">
              <label for="receiveUserUsername" class="form-label">To User</label>
              <input type="text" name="receiveUserUsername" placeholder="@username" class="form-control" aria-describedby="passwordHelpBlock">  
            </div>
            <div class="mt-3">
              <label for="receiveItemID" class="form-label">For Item ID#</label>
              <input type="text" name="receiveItemID" placeholder="VSvse1IP5oy5ay8p" class="form-control" aria-describedby="passwordHelpBlock">  
            </div>
            <button type="submit" value="Submit" class="btn btn-outline-success mt-3">Send Trade</button>
          </form>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          {{#if tradesExists}}
            {{#each tradeData}}
              <div class="container-fluid d-flex flex-start justify-content-center">
                <div class="card justify-content-center" style="max-width: 18rem; min-width:8rem; margin:1rem;">
                  <img src="{{this.sendItemMediaLink}}" class="card-img-top" alt="..." style="max-width: 18rem; min-width:8rem;">
                  <div class="card-body card shadow d-flex justify-content-center">
                    <h3 class="card-title mb-2 mt-2" style="margin:auto;">{{this.sendItemName}}</h3>
                    <h5 class="card-title mb-2 mt-2" style="margin:auto; font-size: 1.2rem; font-weight: 400;">Collection: {{this.sendCollectionName}}</h5>
                    <div class="accordion-item mt-2">
                      <h2 class="accordion-header" id="flush-heading{{this.sendItemID}}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{this.sendItemID}}" aria-expanded="false" aria-controls="flush-collapseOne">
                          More Info
                        </button>
                      </h2>
                      <div id="flush-collapse{{this.sendItemID}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <h4 class="card-text mt-2 mb-2 text-center" style="margin:auto; font-size: 1.1rem; font-weight: 400;">Released {{this.sendItemMintDate}}</h4>
                        <h4 class="card-text mt-2 mb-2 text-center" style="margin:auto; font-size: 1.1rem; font-weight: 400;">ID: {{this.sendItemID}}</h4>  
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card justify-content-center" style="max-width: 18rem; min-width:8rem; margin:1rem;">
                  <img src="{{this.receiveItemMediaLink}}" class="card-img-top" alt="..." style="max-width: 18rem; min-width:8rem;">
                  <div class="card-body card shadow d-flex justify-content-center">
                    <h3 class="card-title mb-2 mt-2" style="margin:auto;">{{this.receiveItemName}}</h3>
                    <h5 class="card-title mb-2 mt-2" style="margin:auto; font-size: 1.2rem; font-weight: 400;">Collection: {{this.receiveCollectionName}}</h5>
                    <div class="accordion-item mt-2">
                      <h2 class="accordion-header" id="flush-heading{{this.receiveItemID}}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{this.receiveItemID}}" aria-expanded="false" aria-controls="flush-collapseOne">
                          More Info
                        </button>
                      </h2>
                      <div id="flush-collapse{{this.receiveItemID}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <h4 class="card-text mt-2 mb-2 text-center" style="margin:auto; font-size: 1.1rem; font-weight: 400;">Released {{this.receiveItemMintDate}}</h4>
                        <h4 class="card-text mt-2 mb-2 text-center" style="margin:auto; font-size: 1.1rem; font-weight: 400;">ID: {{this.receiveItemID}}</h4>  
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card justify-content-center" style="max-width: 18rem; min-width:8rem; margin:1rem;">
                  <img src="{{this.receiveUserProfilePhoto}}" class="card-img-top" alt="..." style="max-width: 18rem; min-width:8rem;">
                  <div class="card-body card shadow d-flex justify-content-center">
                    <h3 class="card-title mb-2 mt-2" style="margin:auto;">{{this.receiveUserUsername}}</h3>
                    <h5 class="card-title mb-2 mt-2" style="margin:auto; font-size: 1.2rem; font-weight: 400;">Respond</h5>
                    <div class="container d-flex justify-content-center" style="margin:auto;">
                      <form class="mx-2" action="/trades/accept/{{this.tradeID}}" method="post">
                        <button type="submit" value="Submit" class="btn btn-outline-success mt-3">Accept</button>
                      </form>
                      <form class="mx-2" action="/trades/reject/{{this.tradeID}}" method="post">
                        <button type="submit" value="Submit" class="btn btn-outline-danger mt-3">Reject</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            {{/each}}
          {{/if}}
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
      </div>
    </div>
  </body>
</html>