<!DOCTYPE html>
<html>
  <head>
    <title>Mintdrop</title>
    <link rel="stylesheet" href="index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=M+PLUS+1p:wght@400&family=Tajawal:wght@300;400&display=swap" rel="stylesheet">   
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
      body {
      font-family: 'Barlow', sans-serif;
      font-size:1.4em;
      }
      .navtext {font-weight: 500;}
    </style>
  </head>
  <body>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color:rgba(0, 133, 71, 0.75)">
      <div class="container-fluid">
        <a class="navbar-brand ms-3 fs-3 navtext" style="font-family:'M PLUS 1p', sans-serif;" href="/">
          <img id="logo" src="/source/images/mintdropLogo(PROTO).png" alt="" width="8rem" class="d-inline-block align-text-top ms-3 me-3" style="min-width: 6rem;">
          <h1 class="d-inline-block align-text-top ms-3" style="margin-top: auto; margin-bottom: auto; line-height: 6rem; font-size: 1.7em;"> Mintdrop </h1>
        </a>
        <button class="navbar-toggler me-5 btn-block" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="width: 5rem;">
          <span class="navbar-toggler-icon" style="width: 3rem; height: 5rem;"></span>
        </button>
        <div class="container-fluid collapse navbar-collapse text-light justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item ms-4 me-4">
              <a class="nav-link navtext" href="/collections"">Collections</a>
            </li>
            <li class="nav-item dropdown ms-4 me-4">
              <a class="nav-link dropdown-toggle navtext" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                About
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item navtext" href="/about/collectors">Collectors</a></li>
                <li><a class="dropdown-item navtext" href="/about/creators">Creators</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown ms-4 me-4">
              <a class="nav-link dropdown-toggle navtext" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                My Account
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item navtext" href="/create/user">Sign Up</a></li>
                <li><a class="dropdown-item navtext" href="/login">Login</a></li>
                <li><a class="dropdown-item navtext" href="/trades">Trades</a></li>
                <li><a class="dropdown-item navtext" href="/inventory">Inventory</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="mt-4 container-fluid" style="margin-left:3rem; margin-right:3rem;">
      <div class="row">
        <div class="col-sm" style="width: 50vw;">
          <form action="/trades/send" method="post" style="margin-left: 10vw; margin-right: 10vw;">
            <legend class="text-center mt-3">Send Trade</legend>
            <div class="mt-3">
              <label for="username" class="form-label">Your Username</label>
              <input type="text" name="username" placeholder="@username" class="form-control" aria-describedby="passwordHelpBlock">
            </div>
            <div class="mt-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" name="password" placeholder="12345" class="form-control" aria-describedby="passwordHelpBlock">  
            </div>
            <div class="mt-3">
              <label for="sendItemID" class="form-label">Your Item's #</label>
              <input type="text" name="sendItemID" placeholder="HZ4x2fQ96uSKcSoB" class="form-control" aria-describedby="passwordHelpBlock">  
            </div>
            <div class="mt-3">
              <label for="receiveUserUsername" class="form-label">To User</label>
              <input type="text" name="receiveUserUsername" placeholder="@username" class="form-control" aria-describedby="passwordHelpBlock">  
            </div>
            <div class="mt-3">
              <label for="receiveItemID" class="form-label">For Item #</label>
              <input type="text" name="receiveItemID" placeholder="VSvse1IP5oy5ay8p" class="form-control" aria-describedby="passwordHelpBlock">  
            </div>
            <button type="submit" value="Submit" class="btn btn-outline-success mt-3">Send Trade</button>
            {{#if loginError}}
              <div class="text-danger">
                Login Error
              </div>
            {{/if}}
            {{#if wrongAddress}}
              <div class="text-danger">
                Invalid Address
              </div>
            {{/if}}
            {{#if tradeSent}}
              <div class="text-success">
                Invalid Address
              </div>
            {{/if}}
          </form>
        </div>
        <div class="col-sm" style="width: 50vw;">
          {{#if notLoggedIn}}
            <form action="/trades/inbox" method="post" style="margin-left: 10vw; margin-right: 10vw;">
              <legend class="text-center mt-3">Log In</legend>
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
              </div>
              <button type="submit" value="Submit" class="btn btn-outline-success">Login</button>
            </form>
          {{/if}}
          {{#if tradeInfoExists}}
            <legend class="text-center mt-3">Trade Inbox</legend>
            <div class="container-fluid d-flex justify-content-center flex-wrap">
              {{#each sendUserInfo}}
                <div class="card justify-content-center" style="max-width: 15rem; margin:1rem;">
                  <img src="{{this.mediaLink}}" class="card-img-top" alt="...">
                  <div class="card-body card shadow d-flex justify-content-center">
                    <h3 class="card-title mb-2 mt-2 text-center" style="margin:auto;">{{this.name}}</h3>
                    <h5 class="card-title mb-2 mt-2 text-center" style="margin:auto; font-size: 1.2rem; font-weight: 400;">Collection: {{this.collectionName}}</h5>
                    <legend class="card-title mb-2 mt-2 text-center" style="margin:auto;">Owned by you</legend>
                    <div class="accordion-item mt-2">
                      <h2 class="accordion-header" id="flush-heading{{this.itemID}}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{this.itemID}}" aria-expanded="false" aria-controls="flush-collapseOne">
                          More Info
                        </button>
                      </h2>
                      <div id="flush-collapse{{this.itemID}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <p class="card-text mt-2 mb-2 text-center" style="margin:auto;">Released {{this.mintDate}}</p>
                        <p class="card-text mt-2 mb-2 text-center" style="margin:auto;">ID: {{this.itemID}}</p>  
                      </div>
                    </div>
                  </div>
                </div>
              {{/each}}
              {{#each receiveUserInfo}}
                <div class="card justify-content-center" style="max-width: 15rem; margin:1rem;">
                  <img src="{{this.mediaLink}}" class="card-img-top" alt="...">
                  <div class="card-body card shadow d-flex justify-content-center">
                    <h3 class="card-title mb-2 mt-2 text-center" style="margin:auto;">{{this.name}}</h3>
                    <h5 class="card-title mb-2 mt-2 text-center" style="margin:auto; font-size: 1.2rem; font-weight: 400;">Collection: {{this.collectionName}}</h5>
                    <legend class="card-title mb-2 mt-2 text-center" style="margin:auto;">Offer From {{this.username}}</legend>
                    <div class="accordion-item mt-2">
                      <h2 class="accordion-header" id="flush-heading{{this.itemID}}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{this.itemID}}" aria-expanded="false" aria-controls="flush-collapseOne">
                          More Info
                        </button>
                      </h2>
                      <div id="flush-collapse{{this.itemID}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <p class="card-text mt-2 mb-2 text-center" style="margin:auto;">Released {{this.mintDate}}</p>
                        <p class="card-text mt-2 mb-2 text-center" style="margin:auto;">ID: {{this.itemID}}</p>  
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card justify-content-center" style="max-width: 15rem; margin:1rem;">
                  <div class="card-body card shadow d-flex justify-content-center">
                    <form action="/trades/confirm" method="post" style="margin-left: 1rem; margin-right: 1rem;">
                      <legend class="text-center mb-4">Accept Trade</legend>
                      <div class="mt-4">
                        <label for="receiveUserUsername" class="form-label">Your Username</label>
                        <input type="text" name="receiveUserUsername" placeholder="@username" class="form-control" aria-describedby="passwordHelpBlock">
                      </div>
                      <div class="mt-4">
                        <label for="sendItemID" class="form-label">Your Item's #</label>
                        <input type="text" name="receiveItemID" placeholder="HZ4x2fQ96uSKcSoB" class="form-control" aria-describedby="passwordHelpBlock">  
                      </div>
                      <div class="mt-4">
                        <label for="sendUserUsername" class="form-label">To User</label>
                        <input type="text" name="sendUserUsername" placeholder="@username" class="form-control" aria-describedby="passwordHelpBlock">  
                      </div>
                      <div class="mt-4">
                        <label for="receiveItemID" class="form-label">For Item #</label>
                        <input type="text" name="sendItemID" placeholder="VSvse1IP5oy5ay8p" class="form-control" aria-describedby="passwordHelpBlock">  
                      </div>
                      <button type="submit" value="Submit" class="btn btn-outline-success mt-3">Accept Trade</button>
                    </form>
                  </div>
                </div>
              {{/each}}
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </body>
</html>